<!DOCTYPE html>
<html lang="en"  ng-app="client">

<head>
  <meta charset="UTF-8">
  <title>Volgnummer Client</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
  <script src="appClient.js"></script>
</head>

<body ng-controller="helpCtrl as help">
  <div class="container" >
    <div class="form-group">
      <label for="usr">State your name and give a reason</label>
      <input type="text" class="form-control" id="usr" ng-model="naam" placeholder="Naam"><br />
      <textarea class="form-control" placeholder="Reden" ng-model="reden"></textarea>
    </div>

    <button ng-click="helpMe()" class="btn btn-lg btn-warning btn-block" ng-disabled="f">{{output}}</button>

  </div>
</body>

</html>
